* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
:root{
  --bg-color: #1d1238;
  --text-color: #fff;
  --main-color: #130c25;
  --btn-color: #ffa988;
}